.main {
  margin-top: 10px;
}

.box {
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  width: 60%;
  align-items: center;
}

.listItem {
  height: 72px;
  margin: 4px;
  min-width: 600px;
}

.listItem img {
  max-height: 72px;
}

.listItem .addMovie {
  display: none;
}

.listItem:hover .addMovie {
  display: inline-flex;
}
